<template>
    <div class="wrap">
        <ul>
            <template v-for="(list, index) in lists">
                <li :key="index" @click="goTo(list.id, index)" :class="clear === index ? 'active': ''">
                    <span>{{index + 1}}. </span>{{list[attr]}}
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        lists: {
            type: Array,
            required: true
        },
        attr: {
            type: String,
            required: true
        },
        link: {
            type: String,
            required: true
        },
        clear: {
            type: Number
        }
    },

    methods: {
        goTo(id, index) {
            if(this.link !== '')
                this.$router.push('/'+this.link+'/'+id);

            this.filterProducts(id);
            this.$emit('changeClear', index);
        },
        filterProducts(id) {
            this.$store.dispatch('setFilterByUser', id);
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .wrap {
        width: 100%;
        padding: 15px 10px;
    }
    ul {
        list-style-type:none;
    }
    ul li {
        text-align: left;
        margin-bottom: 4px;
        cursor: pointer;
        padding: 5px;
    }
    .active {
        background: silver;
    }
</style>
