<template>
    <div class="wrap">
        <div class="container">
            <template v-for="(index) in parseInt(pages)">
                <span class="number" :key="index" @click="setAnatherPage(index)">
                    <b v-if="curentPage === index"> {{index}} </b>
                    <template v-else> {{index}} </template>
                </span> 
            </template>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'Pagination',

    computed:
        mapState({
            pages: state => state.Products.pages,
            curentPage: state => state.Products.curentPage
        }),

    methods: {
        setAnatherPage(index) {
            this.$store.dispatch('changePage', index);
        }
    }
}
</script>

<style scoped>
.container{
    width: 30%;
    margin: auto;
}
.number {
    margin-right: 6px;
    cursor: pointer;
}

.number b {
    color: red;
}
</style>
