<template>
    <div class="wrap">
        <div>
            <h2>
                {{product.title}}
            </h2>
        </div>
        <div>
            <p>
                {{product.body}}
            </p>
        </div>
    </div>
</template>

<script>

export default {
    name: 'ProductsListing',

    props: {
        product: {
            type: Object,
            required: true
        }
    },
}
</script>

<style scoped>
    .wrap {
        width: 23%;
        padding: 1%;
    }
</style>
