<template>
    <div class="albums">
        <div class="albumInfo">
            <h5>{{album.title}} ({{album.userId}}) <b>ALBUM</b></h5>
        </div>
        <div class="photos">
            <template v-for="(photo, photoIndex) in albumPhotos">
                <Photo
                    :key="photoIndex"
                    :photoIndex="photoIndex"
                    :photo="photo"
                />
            </template>
        </div>
    </div>
</template>

<script>

import Photo from '@/components/block/albums/Photos.vue';

export default {
    props: {
        albumIndex: {
            type: Number,
            required: true
        },
        album: {
            type: Object,
            required: true
        },
        photos: {
            type: Array,
            required: true
        },
    },

    computed: {
        albumPhotos() {
            return this.photos.filter( obj => obj.albumId === this.album.id);
        }
    },

    components: {
        Photo
    }
}
</script>

<style scoped>
    .photos {
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
</style>
