<template>
    <div class="albums">
        <div class="photoInfo">
            <h6>({{photo.albumId}}) </h6>
            <img :src="photo.thumbnailUrl" alt="" width="40" height="40">
        </div>
    </div>
</template>

<script>

export default {
    props: {
        photoIndex: {
            type: Number,
            required: true
        },
        photo: {
            type: Object,
            required: true
        },
    },
}
</script>

<style scoped>
    .photoInfo h6 {
        margin: 0;
    }
</style>
