<template>
    <div class="section">
        <div class="userInfo"> 
            <h2 @click="openOrClose()">{{user.name}} ({{user.username}}) ({{user.id}}) <b>USER</b></h2>
        </div>
        <div v-if="show === userIndex">
            <template v-for="(album, albumIndex) in userAlbums">
                <Album 
                    :key="albumIndex"
                    :albumIndex="albumIndex"
                    :album="album"
                    :photos="photos"
                />
            </template>
        </div>
    </div>
</template>

<script>

import Album from '@/components/block/albums/Albums.vue';

export default {
    props: {
        userIndex: {
            type: Number,
            required: true
        },
        user: {
            type: Object,
            required: true
        },
        photos: {
            type: Array,
            required: true
        },
        albums: {
            type: Array,
            required: true
        },
        show: {
            required: false
        }
    },

    computed: {
        userAlbums() {
            return this.albums.filter( obj => obj.userId === this.user.id);
        }
    },

    components: {
        Album
    },

    methods: {
        openOrClose() {
            (this.show === this.userIndex)
                ? this.$emit('changeshowindex', null)
                : this.$emit('changeshowindex', this.userIndex);
        }
    },

}
</script>

<style scoped>
    
</style>
