<template>
    <div class="wrap">
        <input type="text" @keyup="search($event)" ref="input">
        <span v-if="show" @click="hidePopup()">X</span>
        <SearchList v-if="show" />
    </div>
</template>

<script>

import SearchList from '@/components/block/search/SearchList.vue';

export default {
    name: 'Search',

    components: {
        SearchList
    },

    data() {
        return {
            show: false
        }
    },

    methods: {
        async search(e) {
            const val = e.target.value;
            if(val === '') {
                this.show = false;
                await this.$store.dispatch('removeSearch');
                return;
            }
            
            await this.$store.dispatch('search', val);
            this.show = true;
        },
        hidePopup() {
            this.show = false;
            this.$refs.input.value = '';
            this.$refs.input.focus();
        }
    },
}
</script>

<style scoped>
    .wrap {
        width: 500px;
        margin: auto;
        position: relative;
    }

    .wrap input {
        width: 494px;
        height: 30px;
    }

    .wrap span {
        position: absolute;
        top:10px;
        right: 10px;
    }
</style>
