<template>
    <div class="wrap-list">
        <div v-if="list.length > 0" >
            <template v-for="lis in list">
                <div :key="lis.id">
                    <h6>{{lis.title}}</h6>
                    <img :src="lis.thumbnailUrl" alt="">
                </div>
            </template>
        </div>
        <div v-else>
            NEMA NISTA, KUCAJ PONOVO
        </div>
    </div>
</template>

<script>

import { mapState } from 'vuex';

export default {
    name: 'Search',

    computed:
        mapState({
            list: state => state.Search.searchList
        }),
}
</script>

<style scoped>
    .wrap-list {
        position: absolute;
        width: 100%;
        background: white;
        border: 1px solid silver;
        top: 36px;
        left: 0;
        z-index: 1;
        padding: 20px 0;
        max-height: 500px;
        overflow: auto;
    }
</style>
