<template>
    <div class="home">
        <div class="container">
            <template v-for="(user, index) in users">
                <Section :key="user.id"
                    :userIndex="index"
                    :user="user"
                    :photos="photos"
                    :albums="albums"
                    :show="show"
                    @changeshowindex="changeshowindex"
                />
            </template>
        </div>
    </div>
</template>

<script>

import { mapState } from 'vuex';
import Section from '@/components/block/albums/Section.vue';

export default {
    name: 'Albums',

    async beforeMount() {
        if(this.albums.length === 0)
            await this.$store.dispatch('getAlbums');

        if(this.photos.length === 0)
            await this.$store.dispatch('getPhotos');

        if(this.users.length === 0)
            await this.$store.dispatch('getAllusers');
    },

    data() {
        return {
            show: null
        }
    },

    components: {
        Section
    },

    computed:
        mapState({
            albums: state => state.Albums.albums,
            photos: state => state.Albums.photos,
            users: state => state.Users.users
        }),

    methods: {
        changeshowindex(index) {
            this.show = index;
        }
    }
}
</script>

<style scoped>
    
</style>
