<template>
    <div class="home">
        <div class="container">
            <div class="container-box">
                <h2>Users</h2>
                <router-link to="/user">Add user</router-link>
                <List 
                    :lists="users"
                    attr="name"
                    link="user"
                />
            </div>
            <div class="container-box">
                <h2>Posts</h2>
                <List
                    :lists="products"
                    attr="title"
                    link="product"
                />
            </div>
            <div class="container-box">
                <h2>Comments From</h2>
                <List
                    :lists="comments"
                    attr="name"
                    link="comment"
                />
            </div>
        </div>
    </div>
</template>

<script>

import List from '@/components/block/List.vue';

import { mapState } from 'vuex';

export default {
    name: 'Home',

    async beforeMount() {
        if(this.users.length === 0)
            await this.$store.dispatch('getAllusers');

        if(this.products.length === 0)
            await this.$store.dispatch('getProducts');

        if(this.comments.length === 0)
            await this.$store.dispatch('getComments');
    },

    components: {
        List
    },

    computed:
        mapState({
            users: state => state.Users.users,
            products: state => state.Products.someProducts,
            comments: state => state.Comments.someComments,
        }),
}
</script>

<style scoped>
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .container-box {
        width: 30%;
    }
</style>
