<template>
    <div class="wrap-product-listing">
        <div class="users">
            <h2>Users</h2>
            <List
                :lists="users"
                attr="name"
                link=""
                :clear="clear"
                @changeClear="changeClear"
            />
            <p v-if="clear !== null">
                <b @click="resetFilter()">Clear filters</b>
            </p>
        </div>
        <div class="products">
            <template v-for="(product, index) in products">
                <ProductsListing
                    :key="product.id"
                    :product="product"
                    :index="index"
                />
            </template>
        </div>
        <div class="pagination">
            <Pagination />
        </div>
    </div>
</template>

<script>

import { mapState } from 'vuex';
import ProductsListing from '@/components/block/ProductsListing.vue';
import Pagination from '@/components/block/Pagination.vue';
import List from '@/components/block/List.vue';

export default {
    name: 'Products',

    data() {
        return {
            clear: null
        }
    },

    async beforeMount() {
        if(this.products.length === 0)
            await this.$store.dispatch('getProducts');

        if(this.users.length === 0)
            await this.$store.dispatch('getAllusers');
    },

    components: {
        ProductsListing,
        Pagination,
        List
    },

    computed:
        mapState({
            products: state => state.Products.productsPerPage,
            users: state => state.Users.users,
        }),

    methods: {
        changeClear(index) {
            this.clear = index;
        },
        resetFilter() {
            this.$store.dispatch('setFilterByAllProducts');
            this.clear = null;
        }
    }
}
</script>

<style scoped>
    .wrap-product-listing {
        display: flex;
        flex-wrap: wrap;
    }
    .products {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }
    .pagination{
        width: 100%;
    }
    .users {
        width: 30%;
    }
    .users b {
        color: red;
        cursor: pointer;
    }
</style>
