<template>
    <div class="wrap-form">
        <div class="form-user">
            <div class="field-row form-input">
                <label> Email </label>
                <input type="text" v-model="userModel.email">
            </div>
            <div class="field-row form-input">
                <label> Name </label>
                <input type="text" v-model="userModel.name">
            </div>
            <div class="field-row form-input">
                <label> Phone </label>
                <input type="text" v-model="userModel.phone" min="0">
            </div>
            <div class="field-row form-input">
                <label> Username </label>
                <input type="text" v-model="userModel.username">
            </div>
            <div class="field-row form-input">
                <label> Website </label>
                <input type="text" v-model="userModel.website">
            </div>

            <div class="field-row form-input" v-if="add">
                <button @click="prepareForm()">
                    Save user
                </button>
            </div>
            <div class="field-row form-input" v-else>
                <button @click="prepareForm()">
                    Update user
                </button>
            </div>

            <div v-if="error" class="error">
                <template v-for="(error, index) in errorMsg">
                    <p :key="index" v-html="error"></p>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
import validation from '@/services/Validation.js';

export default {
    data() {
        return {
            userModel: {
                email: '',
                name: '',
                phone: '',
                username: '',
                website: ''
            },
            validationObj: {
                name:{
                    require: true,
                },
                phone:{
                    require: true,
                    number: true,
                    minMax: [10, 25]
                },
            },
            error: false,
            errorMsg: [],
            add: false
        }
    },

    async beforeMount() {
        if(!this.$route.params.id) {
            this.add = true;
            return;
        }
        
        if(this.user && this.user.id === parseInt(this.$route.params.id)){
            this.setUserModel();
            return;
        }

        await this.$store.dispatch('getUser', {id: this.$route.params.id});
    },

    watch: {
        user() {
            if(this.user) {
                this.setUserModel();
            }
        }
    },

    computed: {
        user() { return this.$store.getters.getUser; }
    },

    methods: {
        setUserModel() {
            this.userModel = Object.assign({}, this.user);
        },

        prepareForm() {
            const validationFlag = validation.setValidation(this.validationObj, this.userModel);
            if(validationFlag.length === 0) {
                this.removeError();
                this.setData();
            } else {
                this.setError(validationFlag);
                setTimeout(() => {
                    this.removeError();
                }, 3000);
            }
        },

        setData() {
            if(this.add) {
                this.$store.dispatch('addUser', this.userModel).then((obj) => {
                    this.$router.push('/user/'+obj.id);
                    this.add = false;
                });
            } else {
                this.$store.dispatch('updateUser', {model: this.userModel, id: parseInt(this.$route.params.id)});
            }
        },

        removeError() {
            this.errorMsg = [];
            this.error = false;
        },

        setError(err) {
            this.errorMsg = err;
            this.error = true;
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .wrap-form {
        width: 20%;
        margin: auto;
    }

    .form-user {
        width: 100%;
        padding: 20px 10px;
    }

    .field-row {
        width: 100%;
        margin: 20px 0;
        text-align: left;
    }

    .form-input input {
        width: 100%;
        margin-top: 10px;
        height: 40px;
    }

    .form-select select {
        width: 100%;
        margin-top: 10px;
        height: 40px;
    }

    .error p {
        color: black;
    }

</style>
